header {
    color: white;
    background-color: black;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    margin-left: 0;
}

.searchContainer {
    padding: 30px;
}

.forecastContainer {
    margin-top: 30px;
}